@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .font-family2{
    font-family: var(--font-family2)
  }
}

@layer components{
}

.neo-input{
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid rgba(193, 193, 193, 0.14);
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-family1: 'Goudy Old Style', serif;
  --font-family2: 'Outfit', sans-serif;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --accent-rgb: 199, 107, 0;
  --background-gradient:radial-gradient(57.81% 624.57% at 50% -245.69%, #1B1B1B 0%, #0F0F0F 61.87%, #000000 100%);
  --background-gradient2: radial-gradient(50.58% 377.59% at 51.18% -129.74%, #1B1B1B 0%, #0F0F0F 48.73%, #000000 100%)
  --primary-glow: linear-gradient(180deg, #FFD700 17.5%, rgba(199, 107, 0, 0.7) 157.5%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-gradient:radial-gradient(57.81% 624.57% at 50% -245.69%, #1B1B1B 0%, #0F0F0F 61.87%, #000000 100%);
    --primary-glow: linear-gradient(180deg, #FFD700 17.5%, rgba(199, 107, 0, 0.7) 157.5%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family1);
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(var(--foreground-rgb));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(0.1);
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.gradient-dark {
  background: var(--background-gradient);
}

.background-image{
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-image::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--background-gradient);
  mix-blend-mode: multiply;
  opacity: 0.9;
}

.border-gradient::after{
  content: "";
  display: block;
  width: 100%;
  height: 1%;
  background: var(--primary-glow);
  position: absolute;
  bottom: -1px;
}

::-webkit-scrollbar {
  width: 2.5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--accent-rgb), 0.3);
}

.coming-soon{
  background: var(--primary-glow);
  filter: drop-shadow(0px 0px 12px #ffbf00);
  font-weight: 900;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text{
  background: var(--primary-glow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}